<footer class="row mt-5">
    <div class="col-12">
        <ul>
            <li>
                <a href="https://www.instagram.com/turismorutaargentina">
                    <i class="bi bi-instagram"></i>
                    Instagram
                </a>
            </li>
            <li>
                <a href="https://wa.me/5491158877110">
                    <i class="bi bi-whatsapp"></i>
                    Whatsapp
                </a>
            </li>
            <li>
                <a href="mailto:turismoruta@hotmail.com">
                    <i class="bi bi-envelope"></i>
                    Correo
                </a>
            </li>
        </ul>
        <hr />
        <p><i class="bi bi-c-circle"></i> 2023 Turismo Ruta.</p>
    </div>
</footer>