<section class="container my-5" id="excursiones">
    <h2>Excursiones</h2>
    <div class="row">
        <article class="col-sm-12 col-md-6">
            <div>
                <h3>Caminito</h3>
                <p>Es un callejón, museo y un pasaje, de gran valor cultural y turístico, ubicado en el barrio de La Boca de la Ciudad de Buenos Aires, Argentina.<br />
                    El lugar adquirió significado cultural debido a que inspiró la música del famoso tango "Caminito" (1926), compuesta por Juan de Dios Filiberto.<br />
                    En 1959 fue declarado Museo a Cielo Abierto, ya que allí se reúnen muchos artistas para exponer sus obras.</p>
            </div>
            <img src="assets/imagenes/caminito.jpg" alt="Calle Museo Caminito" />
        </article>
        <article class="col-sm-12 col-md-6">
            <div>
                <h3>Obelisco</h3>
                <p>El Obelisco de Buenos Aires es un monumento histórico, considerado un ícono de la Ciudad de Buenos Aires, la capital de Argentina.<br />
                    Fue construido en 1936 con motivo del cuarto centenario de la llamada primera fundación de Buenos Aires por Pedro de Mendoza.<br />
                    Se encuentra ubicado en la Plaza de la República, en la intersección de las avenidas Corrientes y 9 de Julio, en el barrio de San Nicolás.</p>
            </div>
            <img src="assets/imagenes/obelisco-argentina.webp" alt="Obelisco" />
        </article>
    </div>
</section>